<h2>Memo List</h2>
<div class='center'>
  <a href='/memos/new'><i class='far fa-edit'></i></a>
<div>
<ul class='list'>
  <% @memos.each do | row | %>
  <li><a href=<%= "/memos/#{row['id']}" %> class='link'><%= "#{h(row['title'])}" %></a></li>
  <% end %>
</ul>
