<form action='/memos' method= 'post'>
  <label for='title'>Title</label>
    <div class='center'>
      <input type='text' placeholder='タイトルを入力' name='title'>
    </div>
  <label for='contents'>Contents</label>
    <div class='center'>
      <textarea placeholder='内容を入力' name='contents' rows='10' cols='40'></textarea>
    </div>
  <div class='button'>
    <button type='submit'>保存</button>
  </div>
</form>
<div class='button'>
  <button><a href='/memos'>TOP</a></button>
</div>