<h2><%= "#{h(@memos[@id]['title'])}" %></h2>
<p><%= "#{h(@memos[@id]['contents'])}" %></p>
<div class='button'>
  <button>
    <a href=<%= "/memos/#{@id}/edit" %>>編集</a>
  </button>
</div>
<form action=<%= "/memos/#{@id}" %> method= 'post'>
  <input type='hidden' name='_method' value='delete'>
  <div class='button'>
    <button type='submit'>削除</button>
  </div>
</form>
<div class='button'>
  <button><a href='/memos'>TOP</a></button>
</div>