.main {
  background-color: white;
  margin: 0 300px 50px 300px;
  padding-bottom: 200px;
  border-radius: 10px;
  border: solid 2px #f89174;
}

h1 {
  font-family: 'Avenir', 'Corbel', 'Osaka', sans-serif;
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
  border-radius: 10px;
  border: solid 2px #f89174;
}

h2 {
  text-align: center;
  font-family: 'Avenir', 'Corbel', 'Osaka', sans-serif;
}

.center {
  text-align: center;
}

p {
  font-family: 'Avenir', 'Corbel', 'Osaka', sans-serif;
  white-space: pre-wrap;
  text-align: center;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

label {
  display: block;
  text-align: center;
  margin: 5px 0;
}

.button {
  text-align: center;
  margin: 5px 0;
}
